@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap");

body {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	color: #848fac;
}
[class*="__container"] {
	max-width: 76.875rem;
	padding: 0 0.9375rem;
	margin: 0 auto;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
/* ------------------------ */
[class*="page__"] {
	padding-block: 5rem;
}
@media (max-width: 61.9988em) {
	[class*="page__"] {
		padding-block: 3.75rem;
	}
}
@media (max-width: 47.9988em) {
	[class*="page__"] {
		padding-block: 2.5rem;
	}
}
@media (max-width: 30em) {
	[class*="page__"] {
		padding-block: 1.25rem;
	}
}
/* -------------------button--- */
.button {
	font-weight: 500;
	color: #fff;
	border-radius: 0.25rem;
	padding: 0.875rem 1rem;
	background-color: #0e1734;
	position: relative;
	z-index: 1;
	transition: background-color 0.5s ease 0s;
	cursor: pointer;
}
.button--white {
	font-weight: 500;
	color: #0e1734;
	background-color: #fff;
}
.button:hover {
	color: #fff;
	background-color: #424f7b;
}
.button--white:hover {
	color: #fff;
	background-color: #424f7b;
}
.scroll-to-top {
	display: none;
	position: fixed;
	bottom: 0.625rem;
	right: 0.9375rem;
	background-color: #d9dbde;
	color: #0b265a;
	padding: 0.625rem 1.25rem;
	cursor: pointer;
	font-size: 1.125rem;
	z-index: 10;
}
@media (max-width: 47.9988em) {
	.button {
		padding: 0.5rem 0.625rem;
	}
}
/* ---------------------logo--- */
.logo {
	font-size: 2rem;
	position: relative;
	z-index: 5;
}
.logo--header {
	font-weight: 600;
	color: #192252;
}
.footer__logo {
	font-weight: 700;
	font-size: 2rem;
	letter-spacing: -0.01em;
	color: #fff;
	transition: all 0.3s;
}
@media (max-width: 47.9988em) {
	.logo--header {
		font-size: 1.5rem;
	}
	.footer__logo {
		font-size: 1.5rem;
	}
}
/* --------------------header-block--- */
.header-block__label {
	font-weight: 500;
	line-height: 1.5;
	color: #424f7b;
}
.header-block__label:not(:last-child) {
	margin-bottom: 0.75rem;
}
.header-block__title {
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -0.01em;
	color: #192252;
}
.header-block__title:not(:last-child) {
	margin-bottom: 1.5rem;
}
.header-block__title--md {
	font-size: 2.25rem;
}
.header-block__title--big {
	font-size: 3rem;
}
.header-block__text {
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1.5;
	color: #848fac;
}
.header-block__text:not(:last-child) {
	margin-bottom: 2rem;
}
.header-block__text p:not(:last-child) {
	margin-bottom: 1rem;
}
.header-block__button {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1.5rem;
	row-gap: 1.5rem;
}
.header-block--center {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.header-block--center .header-block__text {
	max-width: 37.5rem;
}
@media (max-width: 61.9988em) {
	.header-block__title {
		line-height: 1.2;
	}
	.header-block__title--big {
		font-size: 2.25rem;
		line-height: 1.2;
	}
	.header-block__title--md {
		font-size: 2rem;
	}
}
@media (max-width: 47.9988em) {
	.header-block__title,
	.header-block__label {
		text-align: center;
	}
	.header-block__title:not(:last-child) {
		margin-bottom: 1.25rem;
	}
	.header-block__title--md {
		font-size: 1.75rem;
	}
	.header-block__text {
		text-align: center;
		font-size: 1rem;
		line-height: 1.2;
	}
	.header-block__text:not(:last-child) {
		margin-bottom: 1.125rem;
	}
	.header-block__text p:not(:last-child) {
		margin-bottom: 0.5rem;
	}
	.header-block__button {
		justify-content: center;
	}
}
/* ------------------------ */
.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 7.5rem;
	column-gap: 0.625rem;
}
.header__navigation {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.25rem;
	position: relative;
	z-index: 2;
}
.menu__list {
	display: flex;
	gap: 1.25rem;
}
.menu__link {
	font-weight: 500;
	color: #192252;
	transition: all 0.2s ease 0s;
}
.menu__link:hover {
	color: #424f7b;
	text-shadow: 0rem 0.1875rem 0.1875rem rgba(0, 0, 0, 0.35);
}
.header__button {
	position: relative;
	z-index: 5;
}
@media (max-width: 47.9988em) {
	.header__container {
		min-height: 4.375rem;
	}

	.menu__list {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}
	.menu__link {
		font-size: 2rem;
		color: #fff;
	}
	.menu-icon {
		display: block;
		flex: 0 0 1.875rem;
		height: 1.375rem;
		position: relative;
		z-index: 5;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		position: absolute;
		height: 0.125rem;
		left: 0;
		width: 100%;
		background-color: #0e1734;
		border-radius: 0.25rem;
		transition: all 0.3s;
	}
	.menu-icon::before {
		top: 0;
	}
	.menu-icon::after {
		bottom: 0;
	}
	.menu-icon span {
		top: 48%;
	}
	.menu-open .menu-icon::before {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	.menu-open .menu-icon::after {
		bottom: 50%;
		transform: translateY(50%) rotate(45deg);
	}
	.menu-open .menu-icon span {
		width: 0;
		left: 50%;
	}
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		text-align: center;

		padding: 5rem 0.9375rem 1.25rem 0.9375rem;
		background-color: #848fac;
		transition: left 0.3s;
		justify-content: center;
	}
	.menu__body::before {
		content: "";
		height: 3.125rem;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		z-index: 2;
		transition: left 0.3s;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before {
		left: 0;
	}
	.button--blue {
		border: 1px solid #fcfdfe;
		padding: 0.75rem 1.25rem;
	}
}
@media (max-width: 30em) {
	.header__container {
		min-height: 3.125rem;
	}
}
/*-------------------hero--- */
.hero__container {
	display: flex;

	column-gap: 1.25rem;
	row-gap: 1.25rem;
}
.hero__content {
	flex: 0 1 50%;
}
.hero__picture {
	flex: 0 1 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	gap: 1.5rem;
}
.image {
	border-radius: 0.25rem;
	width: 30%;
	max-width: 11.25rem;
	height: auto;
}
.image-1,
.image-3 {
	align-self: flex-start;
}
.image-2 {
	margin-top: 5rem;
	align-self: flex-end;
}
.hero__picture .image {
	opacity: 0;
	transform: translateY(50px);
	animation: fadeInUp 1s ease-out forwards;
}
.hero__picture .image-1 {
	animation-delay: 0.4s;
}
.hero__picture .image-2 {
	animation-delay: 0.7s;
}
.hero__picture .image-3 {
	animation-delay: 1s;
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@media (max-width: 61.99875em) {
	.hero__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 47.9988em) {
	.hero__container {
		display: flex;
		flex-direction: column;
		row-gap: 2.5rem;
	}
	.hero__picture {
		gap: 0.75rem;
	}
	.header-block__button {
		text-align: center;
	}
}
@media (max-width: 30em) {
	.image-2 {
		margin-top: 2.5rem;
	}
}

/* -----------------about--- */
.about__container {
	display: flex;
	align-items: center;
	column-gap: 1.25rem;
	row-gap: 1.25rem;
}
.about__picture {
	flex: 0 1 30%;
	margin-right: 7.875rem;
}
.about__picture img {
	max-width: 100%;
	border-radius: 0.25rem;

	opacity: 0;
	transform: translateY(50px);
	transition:
		opacity 0.8s ease-out,
		transform 0.8s ease-out;
}

.about__picture img.animate {
	opacity: 1;
	transform: translateY(0);
}

.about__content {
	flex: 0 1 70%;
	max-width: 43.125rem;
}

@media (max-width: 68.75em) {
	.about__picture {
		flex: 0 1 40%;
		margin-right: 3.75rem;
	}
	.about__content {
		flex: 0 1 60%;
	}
}
@media (max-width: 61.9988em) {
	.about__picture {
		flex: 0 1 50%;
		margin-right: 0rem;
	}
	.about__content {
		flex: 0 1 50%;
		max-width: 100%;
	}
}
@media (max-width: 41.25em) {
	.about__container {
		display: flex;
		flex-direction: column-reverse;
	}
}
/* --------------------activities--- */
.activities__items {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.activities__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}
.activities__header {
	flex: 1 1 60%;
}
.activities__picture {
	flex: 1 1 40%;
}
.activities__picture img {
	max-width: 100%;
	height: auto;
	border-radius: 0.25rem;

	opacity: 0;
	transform: translateY(50px);
	transition:
		opacity 0.8s ease-out,
		transform 0.8s ease-out;
}
.activities__picture img.animate {
	opacity: 1;
	transform: translateY(0);
}

.activities__item:nth-child(odd) {
	flex-direction: row;
}
.activities__item:nth-child(even) {
	flex-direction: row-reverse;
}
@media (max-width: 41.25em) {
	.activities__item {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}
	.activities__picture {
		flex: 0 1 100%;
		width: 100%;
	}
	.activities__header {
		flex: 0 1 100%;
	}
}
@media (max-width: 30rem) {
	.activities__items {
		gap: 1.25rem;
	}
	.activities__item {
		gap: 1.25rem;
	}
}
/* ---------------------choose-- */
.choose__header:not(:last-child) {
	margin-bottom: 5rem;
}
.choose__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 2rem;
	border-radius: 0.25rem;
	margin: 0 -0.75rem;
}
.item__row {
	cursor: pointer;
	flex: 0 1 33.333%;
	min-width: 17.5rem;
	display: flex;
	flex-direction: column;
	transition: box-shadow 0.3s;
	row-gap: 2rem;
	padding: 0rem 0.75rem 0.75rem 0.75rem;

	/* flex: 1 1 calc(33.333% - 24px);
	min-width: 280px; */
	/* display: flex;
	flex-direction: column; */
}
.item__row:hover {
	box-shadow: 0 0.25rem 1.875rem 0 rgba(0, 0, 0, 0.07);
	border-radius: 0.5rem;
}
.item__image {
	border-radius: 0.25rem;
	width: 100%;
	height: auto;
	max-height: 30.5625rem;
	overflow: hidden;
}
.item__image img {
	max-width: 100%;
	width: 100%;
	height: auto;
	object-fit: cover;
	transition: transform 0.3s ease;
}
.item__image:hover img {
	transform: scale(1.05);
}
.item__body {
	flex: 1 1 auto;
}
.item__title {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.5;
	color: #000;
	transition: all 0.3s ease;
}
.item__title:not(:last-child) {
	margin-bottom: 1rem;
}
.item__title:hover {
	color: #424f7b;
}
.item__text,
.item__link {
	font-size: 1.125rem;
	line-height: 1.5;
}
.item__link {
	color: #424f7b;
	display: inline-flex;
	align-self: flex-start;
	align-items: center;
	gap: 0.75rem;
}
.item__link::after {
	content: "";
	background: url(../img/icon-arrow.svg) no-repeat center;
	position: relative;
	top: 0.125rem;
	left: 0rem;
	width: 1.5rem;
	height: 1.5rem;
	transition: transform 0.5s ease 0s;
}
.item__link:hover::after {
	transform: translateX(1.5rem);
}
@media (max-width: 61.9988em) {
	.choose__header:not(:last-child) {
		margin-bottom: 2.5rem;
	}
	.item__row {
		flex: 1 1 50%;
		max-width: 100%;
		gap: 1.125rem;
	}
	.choose__item {
		row-gap: 1.25rem;
	}
	.item__row:nth-last-child(1):nth-child(odd) {
		flex: 0 1 50%;
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 47.9988em) {
	.choose__header:not(:last-child) {
		margin-bottom: 1.875rem;
	}
	.item__title {
		font-size: 1.25rem;
	}
	.item__title:not(:last-child) {
		margin-bottom: 0.75rem;
	}
	.item__text,
	.item__link {
		font-size: 1rem;
		line-height: 1.2;
	}
}
@media (max-width: 35em) {
	.item__row:nth-last-child(1):nth-child(odd) {
		flex: 1 1 100%;
		display: flex;
		justify-content: center;
	}
}
@media (max-width: 30em) {
	.choose__item {
		flex-direction: column;
		align-items: center;
	}
	.item__row {
		flex: 1 1 100%;
		max-width: 100%;
		row-gap: 0.9375rem;
	}
}
/* -------------------------room---- */
.room__container {
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;
}
.room__content {
	flex: 1 1 50%;
}
.room__items {
	flex: 1 1 50%;
}
.room__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 0.25rem;
	background: #fff;
	padding: 2rem 2.25rem;
	overflow: hidden;
	cursor: pointer;
	transition: box-shadow 0.3s;
}
.room__item:not(:last-child) {
	margin-bottom: 1.5rem;
}
.room__item:hover {
	box-shadow: 0 0.25rem 1.875rem 0 rgba(0, 0, 0, 0.07);
}
.item__row {
	opacity: 0;
	transform: translateY(1.875rem);
	transition:
		opacity 0.8s ease-out,
		transform 0.8s ease-out;
	transition-delay: 0s;
}
.item__row.animate {
	opacity: 1;
	transform: translateY(0);
}
.item__row:nth-child(1) {
	transition-delay: 0s;
}
.item__row:nth-child(2) {
	transition-delay: 0.4s;
}
.item__row:nth-child(3) {
	transition-delay: 0.8s;
}
.item__header {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.5;
	color: #424f7b;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	transition: transform 0.5s ease-in-out;
	cursor: pointer;
}
.item__header::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	background-color: #424f7b;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
}
.item__header::before {
	content: "";
	position: absolute;
	top: 53%;
	right: 1.6875rem;
	width: 1.125rem;
	height: 1.125rem;
	background: url("../img/icon-arrow-down.svg") center no-repeat;
	background-size: contain;
	transition: transform 0.5s ease-in-out;
	transform: translateY(-50%) rotate(180deg);
	z-index: 5;
}
.room__item.active .item__header::before {
	transform: translateY(-50%) rotate(0deg);
}
.item__text {
	font-size: 1.125rem;
	line-height: 1.5;
	color: #848fac;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition:
		max-height 0.5s ease-in-out,
		opacity 0.5s ease-in-out;
}
.item__text p {
	padding-top: 1.5rem;
}
.room__item.active .item__text {
	max-height: 11.25rem;
	opacity: 1;
}
@media (max-width: 61.9988em) {
	.room__item {
		padding: 1.4375rem 1.625rem;
	}
	.item__header {
		font-size: 1.25rem;
	}
}
@media (max-width: 57.5em) {
	.room__container {
		display: flex;
		/* text-align: center; */
		flex-wrap: wrap;
	}
	.room__content {
		margin: 0 auto;
		max-width: 37.5rem;
		text-align: center;
	}
	.room__content .header-block__button {
		justify-content: center;
	}
}
@media (max-width: 47.9988em) {
	.room__content {
		margin: 0 auto;
		max-width: 37.5rem;
		text-align: center;
	}
	.item__header::after {
		right: 1.25rem;
		width: 2rem;
		height: 2rem;
	}
	.item__header::before {
		content: "";
		position: absolute;
		top: 55%;
		right: 1.75rem;
		width: 1rem;
		height: 1rem;
	}
	.item__header {
		font-size: 1.125rem;
	}
	.item__text {
		font-size: 1rem;
		line-height: 1.2;
	}
	.item__text p {
		padding-top: 1rem;
	}
}
@media (max-width: 480px) {
	.room__item {
		padding: 8px 8px;
	}
	.item__header {
		font-size: 16px;
		padding-right: 60px;
	}
	.item__header::after {
		right: 10px;
		width: 28px;
		height: 28px;
	}
	.item__header::before {
		right: 18px;
		width: 12px;
		height: 12px;
	}
}
/* ------------------------review-- */
.review__content:not(:last-child) {
	margin-bottom: 5vw;
}
.slide-swiper-review__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 3.25vw;
	height: auto;
	padding-bottom: 2.125rem;
}
.slide-swiper-review__picture img {
	width: 7.5rem;
	height: 7.5rem;
	border-radius: 50%;
	object-fit: cover;
}
.slide-swiper-review__text {
	max-width: 50rem;
	flex-grow: 1;
}
.slide-swiper-review__name {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.5;
	color: #192252;
}
.swiper-review__pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	position: absolute;
	bottom: 1.5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}
.swiper-review__pagination .swiper-pagination-bullet {
	width: 0.5rem;
	height: 0.5rem;
	background-color: rgba(250, 176, 71, 1);
	transition: all 0.3s;
	border-radius: 50%;
	cursor: pointer;
}
.swiper-review__pagination .swiper-pagination-bullet-active {
	background-color: #fab047;
	opacity: 1;
	transform: scale(1.4);
}
/* --------------------------footer--- */
#footer {
	background-color: #0b265a;
}
.footer__container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	row-gap: 2.8125rem;
	padding-block: 7.5rem;
}
.footer__content {
	flex: 1 1 50%;
}
.footer__logo:not(:last-child) {
	margin-bottom: 0.8125rem;
}
.footer__description {
	line-height: 1.75;
	color: #d9dbde;
}
.footer__description:not(:last-child) {
	margin-bottom: 2.25rem;
}
.footer__social {
	display: flex;
	gap: 1.5rem;
}
.social__item {
	transition: all 0.3s;
}
.footer__menu {
	display: flex;
	justify-content: flex-end;
	flex: 1 1 50%;
}
.menu-footer__list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 2.8125rem;
	column-gap: 3.375rem;
}
.menu-footer__link {
	font-weight: 700;
	color: #fff;
	transition: all 0.3s;
}
.menu-footer__sub-link {
	font-size: 1rem;
	color: #d9dbde;
	transition: all 0.3s;
}
.social__item:hover,
.footer__logo:hover {
	filter: drop-shadow(0px 0.3125rem 0.625rem rgba(255, 255, 255, 0.8));
}
.menu-footer__link:hover,
.menu-footer__sub-link:hover {
	text-shadow: 0rem 0.1875rem 0.3125rem rgba(255, 255, 255, 0.8);
}
.menu-footer__link:not(:last-child),
.menu-footer__sub-item:not(:last-child) {
	margin-bottom: 1.5rem;
}
@media (max-width: 75em) {
	.footer__container {
		padding-block: 5rem;
	}
}
@media (max-width: 61.9988em) {
	.footer__container {
		padding-block: 3.75rem;
	}
}
@media (max-width: 47.9988em) {
	.footer__container {
		padding-block: 2.5rem;
	}
	.footer__description:not(:last-child) {
		margin-bottom: 1.5rem;
	}
	.footer__menu {
		flex: 1 1 100%;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.menu-footer__list {
		column-gap: 1.5rem;
	}
}
